head {
     h2 {font-family: 'Times New Roman', Times, serif;}
     h2 {text-align: center;}
}
 h1  {
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

  h2  {
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

body {
    background-color: rgb(240, 244, 255);
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    height: 90vh;
}

.main-container {
    background-color: #e8e4f8;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    padding: 20px;
    height: 85vh;
}

.inner-outer-container {
    background-color: #c8c4e9;
    display: flex;
    flex-direction: center;
    align-items: center;
    width: 85%;
    border-radius: 10px;
    padding: 25px;
    height: 65vh;
    gap: 150px;
    text-align: center;
}

.input-container {
    width: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #eff1f7;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 50vh;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 5px;
}
.output-group {
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 5px;
}
input {
width: 90%;
padding: 8px;
border-radius: 5px;
border: 1px solid #D6CCC2;
text-align: center;
}

input, button {
    margin: 5px 0px;
    padding: 10px;
    border: 1px solid #847577;
    border-radius: 5px;
}

.button-group {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    width: 93%;
    background: #012142;
    color: white;
    cursor: pointer;
}

.result-container {
    width: 40%;
    background-color: #eff1f7;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    height: 50vh;
}

p {
    
}
